
body { background: #F5F5F5; font: 14px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
#container { padding: 2em; overflow: hidden; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }
#login-box { float: right; margin: 7px;}
/*
@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}*/


#registerBox label, #eventBox label {
    display: block;
    float: left;
    margin-right: 61px;
    min-width: 166px;
    width: 100px;
}

#loginBox {
    padding-top: 40px;
}

#loginBox div {
    margin: 5px;
}

#loginBox div#submit {
    width: 64%;
}
#loginBox #_submit {
    float: right;
}

#appbundle_event_eventDate_date, #appbundle_event_eventDate_time {
    float: left;
    margin-right: 3px;
}

.clr {
    clear: both;
}
.fleft {
    float: left;
}

.fright {
    float: right;
}

.event-details {
    overflow: hidden;
    border: 1px solid #0000F0;
}

.event-details .map {
    margin: 10px;
    width: 540px;
    height: 540px;
}

.event-details .details {
    border: 1px solid #000000;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.event-details .label {
    font-weight: bold;
}
.event-details .value {
    margin-left: 3px;
}

events {
    border: 1px solid #000000;
    overflow: hidden;
}
.event {
    border: 1px solid #0000F0;
    float: left;
    margin: 3px;
    padding: 3px;
    max-width: 350px;
    width: 100%;
}

.event a {
    font-weight: bold;
    font-size: 16px;
}
.event span {
    font-size: 12px;
}